$border-radius: 10px;

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 30px;
  border: #5f5e5e 1px solid;
  .form__image {
    &-img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .form__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    &-username,
    &-password {
      min-height: 40px;
      border-radius: $border-radius;
      border: none;
      outline: none;
      padding: 10px 15px;
      font-size: 1.2rem;
      background-color: #f2f2f2;
      font-weight: bold;
    }
  }

  .form__button {
    width: 100%;
    button {
      width: 100%;
      height: 40px;
      border-radius: $border-radius;
      border: none;
      background-color: #f33f33;
      font-size: 1.2rem;
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 3px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .form__links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    a {
      color: #5f5e5e;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 800px) {
  .form {
    padding: 20px;
  }
}
