@use "../../../sass/variables" as *;

.register {
  width: 100vw;
  height: 100vh;
  position: relative;
  .form-register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 380px;
    height: 100%;
    max-height: 680px;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    padding: 10px 20px 20px;
    .form-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 35px;
      gap: 20px;
      img {
        width: 200px;
      }
      .details {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        .title {
          font-size: 1.2rem;
          font-weight: bolder;
        }
        .foreing-text {
          font-size: 0.8rem;
        }
      }
    }
    .container {
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .inputs {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
    .form-footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      padding: 20px;
      a {
        color: $yellow-anchor;
        font-weight: bolder;
        text-decoration: none;
      }
    }
  }
}
