.shopping {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  position: relative;
  .cart {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 60px;
    .cart-logo {
      width: 60px;
      height: 60px;
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      i {
        display: inline;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .total-cart {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 120px;
    max-width: 200px;
    border-radius: 30px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 4;
    .price {
      font-weight: bold;
      font-size: 1.2rem;
      &::before {
        content: "Total $";
        margin-right: 2px;
      }
    }
  }
}
