.forgot {
  width: 100vw;
  height: 100vh;
  position: relative;
  .forgotpass-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 380px;
    height: 640px;
    padding: 30px 20px;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    .form-header {
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      align-items: center;
      padding: 20px 30px;
      img {
        width: 200px;
        height: 200px;
      }
      p {
        font-size: 0.9rem;
        text-align: center;
        opacity: 0.7;
        padding: 0 10px;
      }
    }
    .container {
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        button {
          height: 45px;
        }
      }
    }
    .form-footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      div {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-size: 0.9rem;
        }
        a {
          font-weight: bolder;
          text-decoration: none;
          color: #ffc821;
        }
      }
    }
  }
}
