@use "../../../sass/variables" as *;

.login-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
  .form {
    width: 100%;
    max-width: 380px;
    max-height: 640px;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px 20px;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .text-error {
      color: $text-error;
    }
    .header-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
      .title {
        text-align: center;
        h1 {
          font-size: 1.4rem;
          &::after {
            content: "!";
          }
        }
        p {
          font-size: 1rem;
          opacity: 0.7;
          margin-top: 8px;
        }
      }
    }
    .form-login {
      padding: 20px 10px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    .footer-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 20px;
      align-items: center;
      a {
        text-decoration: none;
        color: $yellow-anchor;
        font-weight: bolder;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
