* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}
.container nav {
  background-color: #2e323a;
  height: 100%;
  padding: 20px;
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 50px;
  position: relative;
}
.container nav .logo img {
  width: 60px;
  height: 60px;
}
.container nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 20px;
}
.container nav ul .active {
  opacity: 0.8;
  border-left: 3px solid white;
  padding: 0 0 0 4px;
}
.container nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.container nav .icon-x {
  display: none;
}
.container main {
  background-color: #23272b;
  padding: 0;
  color: white;
  padding: 0 20px;
}
.container main .icon {
  display: none;
}
@media (max-width: 450px) {
  .container nav {
    width: 100% !important;
  }
}
@media (max-width: 750px) {
  .container nav {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }
  .container nav .icon-x {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
  }
  .container .visible-menu {
    transform: translateX(0);
    transition: 0.5s ease-out;
  }
  .container .icon {
    display: none;
  }
  .container main {
    z-index: 1;
    position: relative;
    padding: 40px 20px 0;
  }
  .container main .icon {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}