.form-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.form-contacts h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}
.form-contacts .button {
  padding: 10px;
  width: 100%;
  text-align: center;
}
.form-contacts .button button {
  padding: 5px;
  width: 120px;
  height: 50px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid gray;
}
.form-contacts .button button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.form-contacts .button button::after {
  content: "+";
  font-size: 1.2rem;
  margin-left: 5px;
}

.modal-add-user {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #1a1c2f;
  padding: 20px;
  visibility: hidden;
  color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.modal-add-user .title {
  position: relative;
  font-size: 1.4rem;
  align-self: center;
  text-transform: uppercase;
  display: inline;
  width: 100%;
  text-align: center;
}
.modal-add-user .title .logo {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}
.modal-add-user form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: left;
  height: 100%;
}
.modal-add-user form input {
  border: 1px solid gray;
  outline: 0;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  color: gray;
  font-weight: bolder;
  font-size: 1rem;
}
.modal-add-user form input[type=submit] {
  width: 150px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 30px;
  font-weight: bolder;
  cursor: pointer;
}

@media (min-width: 650px) {
  .modal-add-user {
    width: 400px;
    height: 350px;
    padding: 50px;
    top: 30%;
  }
  .modal-add-user .title {
    font-size: 1.6rem;
  }
  .modal-add-user .title .logo {
    top: -10px;
  }
}
.show-modal {
  visibility: visible;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1250px;
  margin: auto;
}

.container-contacts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-card {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px gray dashed;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}
.contact-card .img-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.contact-card .img-details img {
  width: 50px;
  border-radius: 50%;
}
.contact-card .img-details .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bolder;
}
.contact-card .img-details .details .name {
  font-size: 1.2rem;
}
.contact-card .img-details .details .phone {
  color: gray;
}
.contact-card .img-details .details .phone:hover {
  color: green;
  cursor: pointer;
}
.contact-card .actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.contact-card .actions div {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.contact-card .actions div:hover {
  transform: scale(1.1);
}